//
//  Config.xcconfig
//  ArgyleTest
//
//  Created by Vitalii Kizlov on 10.02.2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY_ID = 9b40eed7b1d14f16ba3abfad216167e8
API_SECRET_KEY = kXatSEqBrGIaHeCp
API_BASE_URL = api-sandbox.argyle.com/v1
